@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
    --primary-color: #e7f20f;
    --primary-font: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: var(--primary-color);
    text-align: center;
}
nav h1{
    font-size: 40px;
    font-family: var(--primary-font);
    padding: 1rem 1rem;
}
h3{
    font-size: 25px;
    font-weight: bolder;
    font-family: var(--primary-font);
}
#image{
    height: 50px;
    width: 50px;
    margin-top: 0.5rem;
}
main{
    margin: 1rem 1rem;
}
#text-input{
    height: 15vh;
    width: 80%;
    display: block;
    margin: 2rem 1rem;
    padding: 1rem 1rem;
    font-size: 20px;
    border-radius: 5px;
}
#btn-translate{
    margin: 1rem 1rem;
    padding: 1rem 0.5rem;
    border: 1px solid black;
    border-radius: 2px;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: bolder;
}

#output{
    border: 1px solid black;
    height: 15vh;
    width: 80%;
    display: block;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    font-size: 20px;
    border-radius: 5px;
}
footer{
    background: chartreuse;
    height: 20vh;
    text-align: center;
}
p{
    font-size: 20px;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    font-weight: bolder;
    font-family: var(--primary-font);
}
